#myytplayer{
    opacity: -1;
    height: 0;
    width: 0;
}

ul{
    padding: 0;
    list-style-type: none;
}

.playback-controls{
    margin-left: 20px;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: rgb(194, 245, 255);
    border-radius: 8px 4px 0 0;
    padding: 10px;
}
.playback-controls .fa:not(:first-child){
    margin-left: 20px;
}

.results-result-active{
    background-color: #FFFFFF;
}

.results-result-elapsed-time{
    margin-left: 10px;
}

.load {
    margin-left: 12em;
}