<!--   <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in reddit.items'>
      <span class='score'>{{item.score}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
      <small>by {{item.author}} -
        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
      </small>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
  </div> -->

  <div class="jumbotron">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="search" class="form-control" ng-model="term" value="chillstep" ng-enter="search()" ng-focus>
        </div>

    </div>

    <script>
     function onYouTubePlayerReady(playerId) {
            ytplayer = document.getElementById("myytplayer");
        }
    </script>
    
    <div class="playback-controls" ng-show="showControls">  
        <i class="fa fa-step-backward fa-2x"></i>
        <i class="fa {{ playIcon }} fa-2x" ng-click="play()"></i>
        <i class="fa fa-step-forward fa-2x"></i>
        <i class="fa {{ muteIcon }} fa-2x" ng-click="mute()"></i>
    </div>

    <ul class="results" infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
        <li ng-repeat="song in reddit.songs" ng-class="{'results-result-active': song.link[0].href == selected}">
            <a href ng-click="loadSong(song.link[0].href)">{{$index + 1}}. {{song.title.$t}}</a> 
            <span class="results-result-elapsed-time" ng-if="song.link[0].href == selected"> {{elapsedTime}} </span>
        </li>
    </ul>
    <div ng-show='reddit.busy'><i class="fa fa-spinner fa-spin fa-3x load"></i></div>


    <div id="ytapiplayer" ng-model="ytapiplayer">
    </div>
    
</div>
